{{ header }}

<div id="information-sitemap" class="container bq-page">
  <ul class="breadcrumb bq-breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>

  <div class="row">
    {{ column_left }}

    <div id="content" class="col">
      {{ content_top }}

      <div class="bq-card">
        <div class="bq-card__header">
          <h1 class="bq-title">{{ heading_title }}</h1>
          <p class="bq-subtitle">تصفّحي أقسام المتجر والروابط المهمة بسرعة.</p>
        </div>

        <div class="row g-4 bq-sitemap">
          <!-- Left: Categories -->
          <div class="col-lg-6">
            <div class="bq-section">
              <div class="bq-section__title">
                <i class="fa-solid fa-layer-group"></i>
                <span>{{ text_category is defined ? text_category : 'الأقسام' }}</span>
              </div>

              <div class="bq-list">
                <ul class="bq-tree">
                  {% for category_1 in categories %}
                    <li>
                      <a class="bq-link" href="{{ category_1.href }}">{{ category_1.name }}</a>

                      {% if category_1.children %}
                        <ul>
                          {% for category_2 in category_1.children %}
                            <li>
                              <a class="bq-link" href="{{ category_2.href }}">{{ category_2.name }}</a>

                              {% if category_2.children %}
                                <ul>
                                  {% for category_3 in category_2.children %}
                                    <li>
                                      <a class="bq-link" href="{{ category_3.href }}">{{ category_3.name }}</a>
                                    </li>
                                  {% endfor %}
                                </ul>
                              {% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>

          <!-- Right: Quick links -->
          <div class="col-lg-6">
            <div class="bq-section">
              <div class="bq-section__title">
                <i class="fa-solid fa-link"></i>
                <span>روابط سريعة</span>
              </div>

              <div class="row g-3">
                <div class="col-12">
                  <div class="bq-quick">
                    <a class="bq-quick__item" href="{{ special }}">
                      <i class="fa-solid fa-tags"></i>
                      <span>{{ text_special }}</span>
                    </a>
                    <a class="bq-quick__item" href="{{ cart }}">
                      <i class="fa-solid fa-cart-shopping"></i>
                      <span>{{ text_cart }}</span>
                    </a>
                    <a class="bq-quick__item" href="{{ checkout }}">
                      <i class="fa-solid fa-credit-card"></i>
                      <span>{{ text_checkout }}</span>
                    </a>
                    <a class="bq-quick__item" href="{{ search }}">
                      <i class="fa-solid fa-magnifying-glass"></i>
                      <span>{{ text_search }}</span>
                    </a>
                  </div>
                </div>

                <div class="col-12">
                  <div class="bq-panel">
                    <div class="bq-panel__head">
                      <i class="fa-solid fa-user"></i>
                      <span>{{ text_account }}</span>
                    </div>
                    <div class="bq-panel__body">
                      <a class="bq-link" href="{{ account }}">{{ text_account }}</a>
                      <a class="bq-link" href="{{ edit }}">{{ text_edit }}</a>
                      <a class="bq-link" href="{{ password }}">{{ text_password }}</a>
                      <a class="bq-link" href="{{ address }}">{{ text_address }}</a>
                      <a class="bq-link" href="{{ history }}">{{ text_history }}</a>
                      <a class="bq-link" href="{{ download }}">{{ text_download }}</a>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="bq-panel">
                    <div class="bq-panel__head">
                      <i class="fa-solid fa-circle-info"></i>
                      <span>{{ text_information }}</span>
                    </div>
                    <div class="bq-panel__body">
                      {% for information in informations %}
                        <a class="bq-link" href="{{ information.href }}">{{ information.title }}</a>
                      {% endfor %}
                      <a class="bq-link" href="{{ contact }}">{{ text_contact }}</a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      {{ content_bottom }}
    </div>

    {{ column_right }}
  </div>
</div>

{{ footer }}
